<div class="container-fluid">
  <p>
    Customer Name: <%= "#{@job_app.first_name} #{@job_app.last_name}" %>
    <span class="pull-right">Customer's phone: <%= @job_app.phone %></span>
  </p>
  <p>
    Date: _______________
    <span class="pull-right">Career Agent: _______________</span>
  </p>

  <h3>Orientation Customer Intake Assessment</h3>
  <h4>A. Background Information</h4>

  <p>
    Have you previously received services from a Career Center or are you currently with
    any other career center?
  </p>

  <div class="row">
    <div class="col-md-2">No</div>
    <div class="col-md-2">Yes</div>
    <div class="col-md-8">If yes, which one and how long ago? _____________</div>
  </div>

  <p>Employment Status: <%= @job_app.current_employment_status %></p>
  <p>Date Last Worked: <%= @job_app.date_last_worked %></p>
  <p>Receiving Unemployment Insurance? <%= @job_app.unemployment_insurance %></p>
  <p>Are you a veteran? <%= @job_app.yes_no(@job_app.veteran) %></p>

  <p>Public assistance:</p>
  <% @public_assistance.each do |service| %>
      <p><%= service %></p>
  <% end %>

  <p>Highest education level: <%= @job_app.education %></p>
  <p>Most recent employer: <%= @job_app.employer %></p>
  <p>Most recent job title: ____________________ </p>
  <p>What type of work are you looking for? <%= @job_app.desired_job %> </p>
  <p>Do you have required skills/certificates/licenses to do the work? ______________________________________ </p>

  <div class="row">
    <div class="col-md-8">
      <p>Do you have a professional resume (not CalJOBS?)</p>
    </div>
    <div class="col-md-4">
      <p>
        <label class="checkbox-inline">
          <input type="checkbox">No
        </label>
        <label class="checkbox-inline">
          <input type="checkbox">Yes
        </label>
      </p>
    </div>
  </div>

  <p>What AJCC services will you use?</p>
  <ul class="list-inline">
    <li>___ Workshops</li>
    <li>___ Resource Room</li>
    <li>___ Recruitments/Job Fairs</li>
    <li>___ Staff Assisted Services</li>
    <li>___ Partner Service</li>
    <li>___ Social Media</li>
    <li>Other: _________________________________</li>
  </ul>

  <h4>B. Barrier(s) Information</h4>
  <% @barriers.each do |barrier| %>
      <label class="checkbox-inline">
        <input type="checkbox"><%= barrier %>
      </label>
  <% end %>

  <h4>C. Eligibility Certifiction Process</h4>
  <ul>
    <li>
      Is the customer seeking job seeking/placement opportunities?
      <label class="checkbox-inline">
        <input type="checkbox">No
      </label>
      <label class="checkbox-inline">
        <input type="checkbox">Yes
      </label>
    </li>
    <li>
      Is the customer seeking training program options?
      <label class="checkbox-inline">
        <input type="checkbox">No
      </label>
      <label class="checkbox-inline">
        <input type="checkbox">Yes
      </label>
    </li>
    <li>
      Would you recommend the customer for eligibility certification at this time?
      <label class="checkbox-inline">
        <input type="checkbox">No
      </label>
      <label class="checkbox-inline">
        <input type="checkbox">Yes
      </label>
      Reason(s): _____________________________________
    </li>
  </ul>

  <h4>Quick Assessment Summary: _____________________________________________</h4>
</div>
