<div class="container-fluid">
  <div>
    <label>Customer Name:</label> <%= "#{@job_app.first_name} #{@job_app.last_name}" %>
    <span class="pull-right">
        <label>Customer's phone:</label> <%= @job_app.phone %>
      </span>
  </div>

  <div>
    <label>Date:</label> _______________
    <span class="pull-right"><label>Career Agent:</label> _______________</span>
  </div>

  <h2>Orientation Customer Intake Assessment</h2>
  <h3>A. Background Information</h3>

  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-4 control-label">
        Have you previously received services from a Career Center or are you currently with
        any other career center?
      </label>
      <div class="col-sm-8">
        <label class="checkbox-inline">
          <input type="checkbox"> No
        </label>
        <label class="checkbox-inline">
          <input type="checkbox"> Yes
        </label>
        <label class="checkbox-inline">
          If yes, which one and how long ago? ______________________
        </label>
      </div>
    </div>
    <br/>
    <div class="form-group">
      <label class="col-sm-4 control-label">Employment status</label>
      <div class="col-sm-8">
        <p class="form-control-static"><%= @job_app.current_employment_status %></p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">Date last worked</label>
      <div class="col-sm-8">
        <p class="form-control-static"><%= @job_app.date_last_worked %></p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">Receiving unemployment insurance?</label>
      <div class="col-sm-8">
        <p class="form-control-static"><%= @job_app.unemployment_insurance %></p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">Are you a veteran?</label>
      <div class="col-sm-8">
        <p class="form-control-static"><%= @job_app.yes_no(@job_app.veteran) %></p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">Public assistance</label>
      <div class="col-sm-8">
        <% @public_assistance.each do |service| %>
            <p class="form-control-static"><%= service %></p>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">Highest education level</label>
      <div class="col-sm-8">
        <p class="form-control-static"><%= @job_app.education %></p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">Most recent employer</label>
      <div class="col-sm-8">
        <p class="form-control-static"><%= @job_app.employer %></p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">Most recent job title</label>
      <div class="col-sm-8">
        <p class="form-control-static"></p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">What type of work are you looking for?</label>
      <div class="col-sm-8">
        <p class="form-control-static"><%= @job_app.desired_job %></p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">Do you have required skills/certificates/licenses to do the work?</label>
      <div class="col-sm-8">
        <p class="form-control-static"></p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">Do you have a professional resume (not CalJOBS?)</label>
      <div class="col-sm-8">
        <label class="checkbox-inline">
          <input type="checkbox">No
        </label>
        <label class="checkbox-inline">
          <input type="checkbox">Yes
        </label>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">What AJCC services will you use?</label>
      <div class="col-sm-8">
        <ul class="list-inline">
          <li>___ Workshops</li>
          <li>___ Resource Room</li>
          <li>___ Recruitments/Job Fairs</li>
          <li>___ Staff Assisted Services</li>
          <li>___ Partner Service</li>
          <li>___ Social Media</li>
          <li>Other: _________________________________</li>
        </ul>
      </div>
    </div>
  </form>

  <h3>B. Barrier(s) Information</h3>
  <% @barriers.each do |barrier| %>
      <label class="checkbox-inline">
        <input type="checkbox"><%= barrier %>
      </label>
  <% end %>

  <br/>
  <br/>

  <h3>C. Eligibility Certification Process</h3>

  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-4 control-label">Is the customer seeking job seeking/placement opportunities?</label>
      <div class="col-sm-8">
        <label class="checkbox-inline">
          <input type="checkbox">No
        </label>
        <label class="checkbox-inline">
          <input type="checkbox">Yes
        </label>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">Is the customer seeking training program options?</label>
      <div class="col-sm-8">
        <label class="checkbox-inline">
          <input type="checkbox">No
        </label>
        <label class="checkbox-inline">
          <input type="checkbox">Yes
        </label>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">
        Would you recommend the customer for eligibility certification at this time?
      </label>
      <div class="col-sm-8">
        <label class="checkbox-inline">
          <input type="checkbox">No
        </label>
        <label class="checkbox-inline">
          <input type="checkbox">Yes
        </label>
        <label class="checkbox-inline">
          Reason(s): _____________________________________
        </label>
      </div>
    </div>
  </form>

  <br/>

  <h2>Quick Assessment Summary: _____________________________________________</h2>
</div>
